*{
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
.header img{
    width: 100px;
}
.container{
    padding: 10px 5%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
}
#signin{
    background-image: url(images/container.png);
    background-position: center;
    background-size: cover;
}
body{
    background-color:  rgb(0,0,0);
}
.header{
    padding: 24px 32px;
    width: 784px;
    height: 76px;
}
.signc{
    margin: 0px 0px 50px;
    padding: 0px 37.3906px;
    width: 524.78px;
    background-color:#000000b3;
    width: 450px;
    height: 50%;
    padding: 48px 68px;
    border-radius: 5px;

}
.signc h1{
    text-align: left;
    margin: 0px 0px 28px;
}
 input{
    padding:20px;
    width:100%;
    float: left;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 20px;
}
.signc button{
    padding: 10px;
    width: 100%;
    background-color:#ad0000;
    border: none;
    border-radius: 5px;
    font-size: large;
    letter-spacing: 1px;
}
.signc button:hover{
    background-color: red;
    cursor: pointer;
}

 .container{
    margin-bottom:20px;
}
.space{
 margin: 10px 0px;
}
p a ,a{
    text-decoration: none;
    margin-left:4px;
}
p a:hover ,a:hover{
    text-decoration: underline;
}
.checkbox{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 20px;
}
.checkbox input{
    flex-basis: 10%;
    padding: 50px;
}
.checkbox p{
    flex-basis: 90%;
    text-align: left;
}
#b1{
background-color:rgba(141, 131, 131, 0.479);
margin-bottom: 10px;
}
#b1 p{
    font-size: small;
}
.reCAPTCHA-text{
    margin-top: 0px;
    text-align: left;
    font-size: small;
}
.reCAPTCHA-text a{
    color: blue;
}
/*--------------------------------------- sub sign in---------------------------------------------*/
.subsign{
    background-color: black;
    width: 100%;
    height: 30vh;
}
.links a{
line-height: 30vh;
margin-right: 50px;
}
.links a{
    text-decoration: underline;
}
 i{
    color: #ad0000;
  font-size: 30px;
  margin-bottom: 100px;
  margin-right:15px;
}
.cardc{
    margin-left: 450px;
}
.icons{
    margin-left: 150px;
}